[Install]
WantedBy = multi-user.target

[Unit]
Description = Turbo daemon

[Service]
Type = simple
After = network-online.target
ExecStart = /usr/bin/turbod
Restart=on-failure